extends layout

block content
  h1= title
  p Welcome to #{title}
  p Got Temperatures!
    br
    a.btn(href="/temperature", title="List temperatures") Temperatures
    a.btn(href="/configure", title="Configure temperature sensor") Configure